%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th name
      %th longest streak
  %tbody
    / This quite ugly line is for proper users numerating,
    / so on first page it would be from 1 to 10
    / on sechond page from 11 to 20
    / and so on...
    - params[:streak_page].to_i == 0 ? i = 0 : i = 10 * (params[:streak_page].to_i - 1)
    - @usersStreaks.each do |u|
      %tr
        %td
          = i += 1
        %td
          = u.name
        %td
          = u.streak
= will_paginate @usersStreaks, :param_name => 'streak_page'