%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th name
      %th wins
  %tbody
    / This quite ugly line is for proper users numerating,
    / so on first page it would be from 1 to 10
    / on sechond page from 11 to 20
    / and so on...
    - params[:wins_page].to_i == 0 ? i = 0 : i = 10 * (params[:wins_page].to_i - 1)
    - @usersWins.each do |u|
      - next if u.id == 1
      %tr
        %td
          = i += 1
        %td
          = u.name
        %td
          = u.wins
= will_paginate @usersWins, :param_name => 'wins_page'