.row
  .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    %h3
      Our Hall of Fame! Come and see best badasses ever
  %br
  .col-md-6.col-sm-6
    = render 'wins'
  .col-md-6.col-sm-6
    = render 'streak'