.row
  .col-md-6.col-md-offset-3
    %p
      Welcome to Sciparo! Scissors Paper Rock Lizard Spock simulator!
      %br
      What would you like to do?
      %br/
      - if current_user
        = link_to "Play!", instructs_path, class: "btn btn-primary btn-lg form-control"
      - else
        = link_to "Play!", new_user_path, class: 'btn btn-primary btn-lg form-control'
      %br
      %br
      = link_to "Hall of fame", users_path, class: 'btn btn-primary form-control'