.row
  .col-md-8.col-md-offset-2
    %p
      Welcome to Sciparo! Scissors Paper Rock Lizard Spock simulator!
      What would you like to do?
      %br/
      = link_to "Play!", '#', class: 'btn btn-primary'
      = link_to "Hall of fame", hall_path, class: 'btn btn-primary'