.col-md-6.col-md-offset-3
  %p 
    Rules here are simple:
    %br/
    %br/
    Scissors cuts paper.
    %br
    Scissors decapitates lizard.
    %br
    Paper covers rock.
    %br
    Paper disproves spock.
    %br
    Rock crushes scissors.
    %br
    Rock cushes lizard.
    %br
    Lizard eats paper.
    %br
    Lizard poisons spock.
    %br
    Spock veporizes rock.
    %br
    Spock smashes scissors.
    %br
    Before you start, you have to create user.
    %br
    Let the force be with you!
    %br
    %br
    = link_to "Create user", new_user_path, class: 'btn btn-primary form-control'
    %br
    = link_to "back", root_path, class: 'btn btn-danger'